.form-group
  %h1 Chat room
.form-group
  #panel-body
    #messages
      = render @messages

.form-group
  .row
    .col-md-5
      %form
        %label Your Message:
        %br
        .input-group
          %input.form-control{id: 'send-string', placeholder: 'Type your message...', type: "text", 'data-behavior': "room_speaker"}
          %span.input-group-btn
            =link_to 'Send', '#', type: 'button', id: 'send-button', class: 'btn btn-success', 'data-behavior': "room_speaker"



