.form-group
  %h1 Chat room
.form-group-lg
  #messages
    = render @messages

.form-group
  .row
    .col-md-3
      %form
        %label Your Message:
        %br
        %input.form-control{type: "text", 'data-behavior': "room_speaker"}
